@import "tailwindcss";

:root {
  --primary-white: #fff;
  --primary-purple: #A42FC1;

  --accent-light-purple: #AD8AE8;
  --accent-blue: #1D7FA9;
  --accent-green: #1F8435;
  --accent-red: #FA3939;

  --typeography-primary: #000;
  --typeography-secondary: #fff;
  --typeography-purple: #A42FC1;
  --typeography-green: #1F8435;
  --typeography-red: #FA3939;
}

@theme inline {
  --color-pr-white: var(--primary-white);
  --color-pr-purple: var(--primary-purple);

  --color-ac-light-purple: var(--accent-light-purple);
  --color-ac-blue: var(--accent-blue);
  --color-ac-green: var(--accent-green);
  --color-ac-red: var(--accent-red);

  --color-primary: var(--typeography-primary);
  --color-secondary: var(--typeography-secondary);
  --color-purple: var(--typeography-purple);
  --color-green: var(--typeography-green);
  --color-red: var(--typeography-red);

  --font-dm-sans: var(--font-dm-sans);
}

body {
  --typeography-font: var(--font-dm-sans);

  background: var(--primary-white);
  color: var(--typeography-primary);
  font-family: var(--typeography-font), sans-serif;
}
